<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h1><%= title %></h1>
  </head>
  <body>
    <h3>a.k.a Marky's Skillz</h3>
    <p>noun /skIlz/<br>
        A word with a similar meaning to "skills" but the "z" implies an emphasised achievement, or one where the activity described may be abrasive, against the rules or illegal.<br>
        <br>
        Sample usage:
        <ol>
            <li>Marcus hacked into the course's computer system to change his grades using his hacking skillz.</li>
            <li>Wow, Marcus has some serious skillz in pwning n00bs.</li>
            <li>Marcus has mad skillz in Express!</li>
        </ol>
        <br>
        This is a website where I will demonstrate my skills at using Express.<br>
        <br>
      </p>
      <a href="/skills">Check my skillz</a>
    
  </body>
</html>
